
<div id="carouselIndex" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselIndex" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#carouselIndex" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#carouselIndex" data-bs-slide-to="2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active carousel-panel">
        <div class="carousel-panel-container">
            <div class="panel-side-text"">
                <div class="panel-text carousel-text">
                    <div class="panel-title">Resources Galore</div>
                    <div class="panel-content">
                        <span class="panel-content-top-dark">Browse our <a href="/puzzle" target="_blank">huge collection</a> of math questions and puzzles.</span>
                        <span class="panel-content-bottom-dark">Perfect for warm-ups, extension work, and creating your own worksheets.</span>
                    </div>
                </div>
            </div>
            <div style="width: 65%;" class="panel-side-image">
                <img class="panel-image carousel-image" src="/static/lesson/images/promotion/repository_example.png">
            </div>
        </div>
    </div>
    <div class="carousel-item carousel-panel">
        <div class="carousel-panel-container">
            <div class="panel-side-text"">
                <div class="panel-text carousel-text">
                    <div class="panel-title">Stress-Free Logins</div>
                    <div class="panel-content">
                        <span class="panel-content-top-dark">Students under 12 are given picture passwords.</span>
                        <span class="panel-content-bottom-dark">Logging in will be fun for them and stress-free for you!<br><a href="#" class="proxy-signup-click">Get started.</a></span>
                    </div>
                </div>
            </div>
            <div style="width: 65%;" class="panel-side-image">
                <img class="panel-image carousel-image" src="/static/lesson/images/promotion/picpass_example.png">
            </div>
        </div>
    </div>
    <div class="carousel-item carousel-panel">
        <div class="carousel-panel-container">
            <div class="panel-side-text"">
                <div class="panel-text carousel-text">
                    <div class="panel-title">Easy to Use</div>
                    <div class="panel-content">
                        <span class="panel-content-top-dark">Create classes for all your students in just a few minutes.</span>
                        <span class="panel-content-bottom-dark">Easily check their progress and see if they're staying on task.<br><a href="#" class="proxy-signup-click">Get started.</a></span>
                    </div>
                </div>
            </div>
            <div style="width: 65%;" class="panel-side-image">
                <img class="panel-image carousel-image" src="/static/lesson/images/promotion/classroom_example.png">
            </div>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndex" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselIndex" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
