<div id="picture-password-container">

    <div id="picture-password-topdiv">
        <div id="picture-password-toprow">

            <input class="picture-password-input" id="picpassin-0">
            <input class="picture-password-input" id="picpassin-1">
            <input class="picture-password-input" id="picpassin-2">
            <input class="picture-password-input" id="picpassin-3">
            <input class="picture-password-input" id="picpassin-4">
            <input class="picture-password-input" id="picpassin-5">
            <input class="picture-password-input" id="picpassin-6">
            <input class="picture-password-input" id="picpassin-7">

        </div>

        <div>
            <button class="btn btn-primary standard-button" id="pic-login-go">
                Go
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
            </button>
        </div>
    </div>

    <div id="picture-password-main">

        <div id="picture-password-left">
            <div id="picture-password-display">
                <img style="z-index: 0" class="picpass-display-image" src="/static/lesson/images/picpass/base.png">
                <img style="z-index: 1" id="picpass-display-image-0" class="picpass-display-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=">
                <img style="z-index: 2" id="picpass-display-image-1" class="picpass-display-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=">
                <img style="z-index: 3" id="picpass-display-image-2" class="picpass-display-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=">
                <img style="z-index: 4" id="picpass-display-image-3" class="picpass-display-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=">
                <img style="z-index: 5" id="picpass-display-image-4" class="picpass-display-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=">
                <img style="z-index: 6" id="picpass-display-image-5" class="picpass-display-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=">
                <img style="z-index: 7" id="picpass-display-image-6" class="picpass-display-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=">
                <img style="z-index: 8" id="picpass-display-image-7" class="picpass-display-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=">
            </div>
        </div>

        <div id="picture-password-right">

            <table id="picpass-grid">

                <tr>
                    <td><a href="#" class="picpass-link" data-id="1"><img class="picpass-img" src="#"><div class="picpass-number-label">1</div></a></td>
                    <td><a href="#" class="picpass-link" data-id="2"><img class="picpass-img" src="#"><div class="picpass-number-label">2</div></a></td>
                    <td><a href="#" class="picpass-link" data-id="3"><img class="picpass-img" src="#"><div class="picpass-number-label">3</div></a></td>
                </tr>
                <tr>
                    <td><a href="#" class="picpass-link" data-id="4"><img class="picpass-img" src="#"><div class="picpass-number-label">4</div></a></td>
                    <td><a href="#" class="picpass-link" data-id="5"><img class="picpass-img" src="#"><div class="picpass-number-label">5</div></a></td>
                    <td><a href="#" class="picpass-link" data-id="6"><img class="picpass-img" src="#"><div class="picpass-number-label">6</div></a></td>
                </tr>
                <tr>
                    <td><a href="#" class="picpass-link" data-id="7"><img class="picpass-img" src="#"><div class="picpass-number-label">7</div></a></td>
                    <td><a href="#" class="picpass-link" data-id="8"><img class="picpass-img" src="#"><div class="picpass-number-label">8</div></a></td>
                    <td><a href="#" class="picpass-link" data-id="9"><img class="picpass-img" src="#"><div class="picpass-number-label">9</div></a></td>
                </tr>

            </table>

        </div>

    </div>

</div>
