{% extends "quiz_base.html" %}
{% block body %}

<div id="content-container">

    Interactive Quizzes coming soon...

    <div id="quiz-general">

    </div>
    <div id="quiz-teacher">

    </div>
    <div id="quiz-student">

    </div>

</div>

<div id="plain-footer">
    <div>
    © 2022 openmath.us | <a id="footer-email-link" href="mailto:openmath.us@gmail.com">openmath.us@gmail.com</a>
    </div>
    <div id="terms-row">
        <a href="/terms_conditions" target="_blank">Terms and Conditions</a> | <a href="/privacy_policy" target="_blank" >Privacy Policy</a> | <a href="/cookies_policy" target="_blank">Cookies Policy</a>
    </div>
</div>


{% endblock %}
