{% extends "lesson_base.html" %}
{% block body %}

{% include 'lesson/chunks/plain_header.html' %}

<div id="password-reset-container">
    <div id="password-reset-reset" class="lightbox-back">
        {% if form == None %}
        <div class="margin-line">
            This link is no longer valid.
        </div>
        {% else %}
        <div class="margin-line">
            Create a new password below.
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="val-error-div">{{ form.non_field_errors.as_text }}</div>
            <div class="margin-line">
                Enter New Password: {{ form.new_password1 }}
                <div class="val-error-div">{{ form.new_password1.errors.as_text }}</div>
            </div>
            <div class="margin-line">
                Re-enter New Password: {{ form.new_password2 }}
                <div class="val-error-div">{{ form.new_password2.errors.as_text }}</div>
            </div>
            <input type="submit" value="Submit">
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}
