{% extends "lesson_base.html" %}
{% block body %}

{% include 'lesson/chunks/plain_header.html' %}

<div id="password-reset-container">
    <div id="password-reset-box" class="lightbox-back">
        <p>
            To get a link to reset your password and/or view your username, please enter the email associated with the account.
        </p>
        <p>
            If there is no email associated with the account, you should be able to get your password from your teacher.
        </p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="val-error-div">{{ form.non_field_errors.as_text }}</div>
            <div>
                Email: {{ form.email }}
                <input type="submit" value="Submit">
                <div class="val-error-div">{{ form.email.errors.as_text }}</div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
