<!doctype html>
<html>
    <head></head>
    <body>

    {% autoescape off %}
    Hi,

    <br><br>

    You're receiving this e-mail because you requested a password reset for your user account at openmath.us.

    <br><br>

    Please go to the following page and choose a new password:<br>
    {% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    <br>
    If the above link does not work, copy and paste the url into your browser.

    <br><br>

    The above link will reset the password for account with the following username: <strong>{{ user.profile.cased_username }}</strong><br>
    If you have more than one account using this email address, make sure the username is correct.

    <br><br>

    Thanks for using our site!<br>

    Cheers!<br>
    OpenMath.US

    {% endautoescape %}

    </body>
</html>
