{% extends "lesson_base.html" %}
{% block body %}

{% include 'lesson/chunks/plain_header.html' %}

<div id="password-reset-container">
    <div id="password-reset-box" class="lightbox-back">
        <div>
            <strong>Check your email for your username and the reset link.</strong>
        </div>
        <div>
            <small>If you have multiple accounts associated with this email, you will recieve an email for each account. Make sure you select the username/link for the appropriate account.</small>
        </div>
    </div>
</div>

{% endblock %}
