<button style="display: none;" id="login-button" type="button" data-bs-toggle="modal" data-bs-target="#login-modal"></button>

<div class="modal fade" id="login-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-box">
            <form method="post" class="standard-form">
                <div class="modal-line">
                    <input type="hidden" name="type" value="login">
                    <div style="margin-bottom: 5px;">Password: <input type="password" id="password" name="password"}></div>
                    <div style="margin-bottom: 5px;">
                        <input type="submit" value="Login" name="login_submit">
                        <button type="button" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
